body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:529px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:0px;
  width:1036px;
  height:529px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:16px;
  width:249px;
  height:77px;
  font-size:28px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:245px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:93px;
  width:149px;
  height:56px;
  font-size:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:168px;
  width:149px;
  height:56px;
  font-size:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:93px;
  width:298px;
  height:56px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:168px;
  width:298px;
  height:56px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:271px;
  width:100px;
  height:16px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:271px;
  width:100px;
  height:16px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:339px;
  width:140px;
  height:40px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:351px;
  width:100px;
  height:16px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u36_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
